<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
            <link href="{{ asset('bootswacht.css') }}" rel="stylesheet">
            <link href="{{ asset('style.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <h1 style="text-align: center; ">My awesome run diary</h1>
            {% if is_granted("ROLE_USER") %}
                Hi {{ app.user.name }}
                --> <a href="logout">Logout</a>
            {% endif %}
            {% block content %}{% endblock %}
        {% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
