{% extends "base.html.twig" %}

{% block content %}

    <div class="breadcrumb">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#overview-tab" role="tab">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#diary-tab" role="tab">Detailed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#new-entry-tab" role="tab">New entry</a>
            </li>
        </ul>
    </div>

    <!-- Tab panes -->

    <div class="tab-content">
        <div class="overview col-12 tab-pane active" id="overview-tab" role="tabpanel">
            <div class="card text-white bg-primary">
                <div class="card-body" id="overview">
                    {{ include('overview.twig') }}
                </div>
            </div>
        </div>
        <div class="diary col-12 tab-pane" id="diary-tab" role="tabpanel">
            <div class="card text-white bg-primary">
                <div>
                    <div id="diaryMess" class="alert alert-success" style="display: none;"></div>
                </div>
                <div class="card-body" id="diary">
                    {{ include('diary.twig') }}
                </div>
            </div>
        </div>
        <div class="newEntry col-12 tab-pane" id="new-entry-tab" role="tabpanel">
            <div class="card text-white bg-primary">
                <div class="card-body" id="entry">
                    {{ include('newEntryForm.twig') }}
                </div>
            </div>

        </div>
    </div>

{% endblock %}