{% extends "base.html.twig" %}

{% block content %}
    <div class="card text-white bg-primary">
        <div class="card-body" id="overview">
            <div class="alert alert-dismissible alert-warning col-3" style="text-align: center; margin: auto; ">
                {{ message }}
            </div>
        </div>
    </div>

{% endblock %}